
.jobImage {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.btn-toolbar {
    width: 100%;
    justify-content: space-between;
    padding: 5px
}

.container {
    margin-top : 30px;
}