.homePage {
 
}

.homeContainer {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70em;
}

.homeCard {
  width: 15vw;
  border: 2px solid gray;
  border-radius: 5px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: white;
}

.homeCard:hover {
  background: #e8e8e8;
}

.homeCardBody {
  margin: 15px;
}

.homeJobLocation {
  color: black;
  margin-bottom: 5px;

}

.homeJobCost {
  color: black;
}

.job:hover {
  text-decoration: none;
}